html, body{
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: rgba(0,0,0,0.1);
  padding: 0% 0;
  font-size: 1em;
  z-index: 2;

}

.navbar-brand{
  min-height: 50px;
  padding: 0 15px 5px;
  z-index: 2;

}

.navbar-default .navbar-nav li a {
  color: 	#FFFAFA;
  z-index: 2;

}

.navbar-default .navbar-nav li a: hover, .navbar-default .navbar-nav li a:.active{
  color: 	#FFF;
  z-index: 2;

}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #000		;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 20px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

{
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1.5px solid #e2e6e9;
  float: left;
  width: 35%;
  background: #fff;
}

form.example2 input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1.5px solid #e2e6e9;
  float: right;
  width: 40%;
  background: #fff;
}

form.example2 button {
  float: right;
  height: 44px;
  width: 10%;
  padding: 0px;
  background: #000;
  color: white;
  font-size: 15px;
  border: 0px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button {
  float: left;
  height: 44px;
  width: 15%;
  padding: 0px;
  background: #e2e6e9;
  color: white;
  font-size: 15px;
  border: 0px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #2c343a;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

#home {
  background: url(img/nepal2.png) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  z-index: 0;
}

#destinations {

  background: url(img/taj.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}


#destinations {
  background: url(img/taj.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#asia {
  background: url(img/greatwall.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#europe {
  background: url(img/eur.jpg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}
#africa {
  background: url(img/pyramids.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#north-america {
  background: url(img/nyc.jpg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#south-america {
  background: url(img/machu.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#australia {
  background: url(img/uluru.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  z-index: 0;
}

#antarctica {
  background: url(img/penguins.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}



.landing-text{
  color: #FFF;
  font-family: 'Avantgarde', Helvetica, sans-serif;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
}

.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

.landing-text h3{
  font-size: 150%;
  font-weight: 90;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: white;
    box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(0,0,0,0.5) !important;
    border: #000 !important;
}

.padding{
  padding: 90px 0;
}



.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#fixed {
  background: url(img/clouds3.jpeg) no-repeat center center fixed;
  display: table;
  height: 70%;
  position: relative;
  width: 100%;
  background-size: cover;
}


footer {
  width: 100%;
  background-color: #00304B;
  padding: 5% 5% 10% 5%;
  color: #FFF;
}

footer2 {
  padding: 5% 5% 10% 5%;
  color: #FFF;
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}

.fa:hover {
  color: #00304B;
  text-decoration: none;
}

.icon{
  max-width: 150px;
}

.imghead {
    float:  left;
    width:  500px;
    height: 500px;
    background-size: cover;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding-top: 5%;
    max-width: 100px;
  }
}

.container1{
  padding: 1em 0;
  float: left;
  width: 50%;
}


*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container1{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container1{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container1{
    width: 33.33333%;
  }
}

.container1 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.container2{
  padding: 0em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container2{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container2{
    width: 25%;
  }
}

.container2 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}



.fadeIn{
  top: 20%;
}

#namibia {
  background: url(img/namibia.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#japan {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
     url(img/shib.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;

}


#japan2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/mfuji.jpeg) no-repeat center center fixed;
     display: table;
     height: 85vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#india {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/udaip.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#india2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/amritsar.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#china {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/chine.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#china2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/wall.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#nepal {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/pokhara2.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#nepal2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/lumbini1.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#nepal3 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/poonhill.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#korea {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/korea1.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#korea2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/korea2.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#srilanka {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/srilanka.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#srilanka2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/lanka2.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#indonesia {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/indonesia.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#indonesia2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/indo.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#turkey {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/turkey1.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#turkey2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/istanbul.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#uae {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/burj.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#uae2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/mosque.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#croatia {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/croatia.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#croatia2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/zagreb.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#france {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/france1.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#france2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/france3.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#germany {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/german.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#germany2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/castle.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#greece {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/greecemoon.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#greece2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/tavern.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#greece3 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/athens.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#italy {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/italy2.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#holland {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/holland.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#holland2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/holland2.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#spain {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/spain2.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#spain2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/spain.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#switzerland {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/switzerland.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#switzerland2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/switzerland2.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#switzerland3 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/switzerland3.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#england {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/regent.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#england2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/rain.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#egypt {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/sphinx.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#egypt2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/thebes.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#kenya {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/kenya1.jpeg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}

#kenya2 {

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
     url(img/thebes.jpeg) no-repeat center center fixed;
     display: table;
     height: 80vh;
     position: relative;
     width: 100%;
     background-size: cover;
}


.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 1px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}


.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .5;
}


.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5,
.fade-carousel .slides .slide-6,
.fade-carousel .slides .slide-7,
.fade-carousel .slides .slide-8,
.fade-carousel .slides .slide-9,
.fade-carousel .slides .slide-10,
.fade-carousel .slides .slide-11,
.fade-carousel .slides .slide-12,
.fade-carousel .slides .slide-13,
.fade-carousel .slides .slide-14,
.fade-carousel .slides .slide-15,
.fade-carousel .slides .slide-16,
.fade-carousel .slides .slide-17


 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(img/chennai.jpeg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(img/mumbai.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(img/manali.jpeg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(img/amritsar.jpeg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(img/patan.jpeg);
}
.fade-carousel .slides .slide-6 {
  background-image: url(img/swayambhu.jpeg);
}
.fade-carousel .slides .slide-7 {
  background-image: url(img/pashupatinath.jpeg);
}
.fade-carousel .slides .slide-8 {
  background-image: url(img/chitwan.jpeg);
}
.fade-carousel .slides .slide-9 {
  background-image: url(img/nagarkot.jpeg);
}
.fade-carousel .slides .slide-10 {
  background-image: url(img/col.jpeg);
}
.fade-carousel .slides .slide-11 {
  background-image: url(img/david.jpeg);
}
.fade-carousel .slides .slide-12 {
  background-image: url(img/tuscany.jpeg);
}
.fade-carousel .slides .slide-13 {
  background-image: url(img/positano1.jpeg);
}
.fade-carousel .slides .slide-14 {
  background-image: url(img/west.jpeg);
}
.fade-carousel .slides .slide-15 {
  background-image: url(img/cotswolds.jpeg);
}
.fade-carousel .slides .slide-16 {
  background-image: url(img/picc.jpeg);
}
.fade-carousel .slides .slide-17 {
  background-image: url(img/buck.jpeg);
}



@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2em; }
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}



.previous {
  background-color: #FFFFFF;
  color: black;
}

.next {
  background-color: #000;
  color: white;
}

.round {
  border-radius: 50%;
}
