html, body{
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: rgba(0,0,0,0.1);
  padding: 0% 0;
  font-size: 1em;
  z-index: 2;

}

.navbar-brand{
  min-height: 55px;
  padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
  color: 	#FFFAFA;
}

.navbar-default .navbar-nav li a: hover, .navbar-default .navbar-nav li a:.active{
  color: 	#FFF;
}

#home {
  background: url(img/nepal2.png) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  z-index: 0;
}

#destinations {
  background: url(img/taj.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#asia {
  background: url(img/greatwall.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#europe {
  background: url(img/eur.jpg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}
#africa {
  background: url(img/pyramids.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#north-america {
  background: url(img/nyc.jpg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#south-america {
  background: url(img/machu.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#australia {
  background: url(img/uluru.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

#antarctica {
  background: url(img/penguins.jpeg) no-repeat center center fixed;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
}


.overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.1;
  z-index: 1;
}

.landing-text{
  color: #FFF;
  font-family: 'Avantgarde', Helvetica, sans-serif;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  z-index: 100;
}

.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

.landing-text h3{
  font-size: 150%;
  font-weight: 90;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: white;
    box-shadow: none;
}


.padding{
  padding: 90px 0;
}

.icon-image {
  position: relative;
  width: 500px;
  height: 750px;
}

.icon-overlay{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 0.7s ease;
}



.container:hover .icon-overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#fixed {
  background: url(img/clouds3.jpeg) no-repeat center center fixed;
  display: table;
  height: 70%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #00304B;
  padding: 5% 5% 10% 5%;
  color: #FFF;
}

footer2 {
  padding: 5% 5% 10% 5%;
  color: #FFF;
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}

.fa:hover {
  color: #00304B;
  text-decoration: none;
}

.icon{
  max-width: 150px;
}

.imghead {
    float:  left;
    width:  500px;
    height: 500px;
    background-size: cover;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding-top: 5%;
    max-width: 100px;
  }
}
